@model SistemaLaboratorioEnmanuel.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@*@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Restablezca la contraseña.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Restablecer" />
            </div>
        </div>
    }*@
<section id="resetPasswordForm">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="container pt-hs3">
            <div class="py-4 row justify-content-center vh-100 align-items-center">
                <div class="col-lg-5">
                    <div class="cardcolor card">
                        <div class="card-header">
                            <div class="card-title text-center h1 my-1">
                                Restablecer Contraseña
                            </div>
                        </div>
                        <div class="card-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger justify-content: center pt-4 " })
                            @Html.HiddenFor(model => model.Code) <!-- Código oculto que debe enviarse -->
                            <div class="row justify-content-center pt-4">
                                <div>
                                    <img src="~/Content/DashboardContent/img/LogoCircle.png" width="25%" class="img-fluid rounded mx-auto d-block img-margin">
                                </div>
                                <div class="col-6">
                                    <div class="mb-3 mt-lg-4 input-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mt-4 mb-4 input-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nueva Contraseña" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="mt-4 mb-4 input-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirmar Contraseña" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row justify-content-center mb-3">
                                <div class="col-6 text-center">
                                    <div>
                                        <input type="submit" class="btn-container btn btn-outline-primary btn-personalizados" value="Restablecer Contraseña">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
</section>
